
<template>
  <div style="width: 100%;">
    <div class="background">
      <img class="w-full min-w-50" src="@/static/banniere.png" />
    </div>
    <div class="main-container">
      <div class="container-text" style="font-weight: bold">
        <div class="first-container-text">
          <span class="desktop:text-2xl text-base nom">{{profil.contact.firstName}} </br> {{profil.contact.lastName}}</span>
        </div>
        <div class="round w-25 h-25 desktop:w-50 desktop:h-50 image">
          <img :src="`${$options.API_HOST}/api/v1/profils/${profil.id}/images/picture`" />
        </div>
        <div class="second-container-text">
          <span class="desktop:text-2xl text-base age">{{ calcAge(profil.contact.birthday) }} ans</span>
          <span @click="mapActive = true" class="desktop:text-2xl text-base">{{profil.contact.city}}</span>
        </div>
      </div>
      <div>
        <p>{{ profil.intro }}</p>
      </div>
      <div class="container-CV">
        <a :href="profil.medias.linkCV" class="CV text-white py-2 px-4 rounded" download="CV">CV</a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["profil"],
  API_HOST: process.env.API_HOST,
  data () {
    return {
      age: 0
    };
  },
  methods: {
    calcAge (date) {
      let s = date.split("/");
      return (
        new Date(
          new Date() - new Date([s[1], s[0], s[2]].join("/"))
        ).getFullYear() - 1970
      );
    }
  }
};
</script>

<style lang="postcss" scoped>

.background {
  width: 100%;
  height: 150px;
  overflow: hidden;
}
.main-container {
  width: 90%;
  margin: auto;
  padding: 10px;
}
.round {
  max-width: 150px;
  border-radius: 100%;
  overflow: hidden;
  min-width: 125px;
}
.container-text {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 10px;
  margin-top: -70px;
}
.first-container-text {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  margin-top: 40px;
  width: 50%;
  text-align: right;
}
.second-container-text {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  margin-top: 50px;
  width: 50%;
  text-align: left;
}
.container-CV {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}
.CV {
  font-weight: 600;
  color: white;
  padding-left: 25px;
  padding-right: 25px;
  cursor: pointer;
  background: linear-gradient(#660099, #8161ff);
}
.CV:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.nom {
  margin-top: 1.5em;
  margin-right: 1em;
  font-size: 18px;
}
.age {
  margin-top: 2em;
  margin-left: 1em;
  font-size: 18px;
}
.image {
  box-shadow: 3px 3px 3px grey;
}
</style>
